<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="shared/header :: navbar"></div>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  </head>
  <body>
    <!-- table -->
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>No</th>
          <th>No</th>
          <th>No</th>
          <th>No</th>
          <th>No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No</td>
          <td>No</td>
          <td>No</td>
          <td>No</td>
          <td>No</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

    <div th:replace="shared/footer :: footer"></div>
    <script type="text/javascript" charset="utf-8" src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
