<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="shared/header :: assets"> </head>
  <body>
    <div th:replace="shared/header :: navbar"></div>
    <!-- table -->
    <div class="container my-4">
      <div class="row">
        <h2>Detail Lowongan</h2>
      </div>
      <div class="row justify-content-md-center">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>ID Lowongan</td>
                <td th:text="${lowongan.getId()}">1</td>
              </tr>
              <tr>
                <td>Kode Matakuliah</td>
                <td th:text="${matakuliah.getKode_matkul()}">1234</td>
              </tr>
              <tr>
                <td>Matakuliah</td>
                <td th:text="${matakuliah.getNama_matkul()}">APAP</td>
              </tr>
              <tr>
                <td>List Dosen</td>
                <td>
                  <ol>
                    <li th:each="dosen, i : ${matakuliah.getDosenList()}">
                      <p th:text="${dosen.getNama()} + ' [ ' + ${dosen.getNip()} + ' ] '">Satrio [12345678]</p>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td>Status</td>
                <td th:text="${lowongan.getStatus()}">Buka</td>
              </tr>
              <tr>
                <td>Jumlah Lowongan</td>
                <td th:text="${lowongan.jumlah_lowongan}">1</td>
              </tr>
              <tr>
                <td>Ruangan</td>
                <td th:text="${ruang.getNama()}">1</td>
              </tr>
              <tr>
                <td>Kapasitas</td>
                <td th:text="${ruang.getKapasitas()}">1</td>
              </tr>
            </tbody>
          </table>
          <div class="col-lg-3 float-right">
            <div class="row">
              <div class=col>
                <form th:action="${linkDelete}" method="post">
                  <div>
                    <input type="hidden" name="id_lowongan" th:value="${lowongan.id}" />
                    <button type="submit" class="btn btn-danger float-right" name="action" value="submit">Delete</button>
                  </div>
                </form>
              </div>
              <div class=col>
                <a href='/lowongan/viewall' class="btn btn-secondary">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="shared/footer :: footer"></div>
  </body>
</html>
