<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="footer" class="fixed-bottom">
      <hr />
      <h4 style="text-align: center; width: 100%">SIASISTEN Kelompok 1</h4>

      <script type="text/javascript" charset="utf-8" src="/assets/js/jquery.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="/assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="/assets/js/datatables.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="/assets/js/datatables.bootstrap.min.js"></script>
      <script>
        $(document).ready(function(){
          $('#dd').DataTable();
        });
      </script>
    </div>
  </body>
</html>
