<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="assets">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div th:fragment="navbar">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                     data-target="#navbarSupportedContent"
                                                     aria-controls="navbarSupportedContent" aria-expanded="false"
                                                                                            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student/viewall">Daftar Mahasiswa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student/add">Menambah Mahasiswa</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
