<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="shared/header :: assets"></head>
  <body>
    <div th:replace="shared/header :: navbar"></div>
    <div class="container">
      <div class="row">
        <h1 align="center">Detail Pengajuan</h1>
        <table class="table">
          <tbody>
            <tr>
              <th>ID Pengajuan</th><td th:text="${pengajuan.id}"></td>
            </tr>
            <tr>
              <th>Lowongan Pengajuan</th><td th:text="${pengajuan.namaMatkul}"></td>
            </tr>
            <tr>
              <th>Username</th><td th:text="${pengajuan.username_mahasiswa}"></td>
            </tr>
            <tr>
              <th>Status</th>
              <td>
                <div th:switch="${pengajuan.is_accepted}">
                  <p th:case="'2'"><button type="button" class="btn btn-warning" name="action">Pending</button></p>
                  <p th:case="'1'"><button type="button" class="btn btn-success" name="action">Disetujui</button></p>
                  <p th:case="'0'"><button type="button" class="btn btn-danger" name="action">Ditolak</button></p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <form th:action="@{${linkSubmit}}"  method="post">
          <div th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}">
            <input type="hidden" name="id_pengajuan" th:value="${pengajuan.id}" />
            <input type="hidden" name="is_accepted" th:value="${pengajuan.is_accepted}" />
            <button type="submit" class="btn btn-primary" name="action" value="submit">Delete</button></a>
          </div>
        </form>
        <!--
          <a th:href="'/pengajuan/hapus/' + ${pengajuan.id}" method="POST" >
          <button type="button" class="btn btn-primary" name="action" value="delete">Delete</button></a>
        -->
      </div>
    </div>
    <div th:replace="shared/footer :: footer"></div>
  </body>
</html>

