<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="shared/header :: assets"></head>
  <body>
    <div th:replace="shared/header :: navbar"></div>
    <div class="container">
      <div class="row">

        <h1 align="center">Daftar Pengajuan</h1>
        <div class="col">
          <a href="/pengajuan/tambah/" class="btn btn-success float-right">Tambah</a>
        </div>
        <div class="table-responsive">
          <a th:if="${is_accepted == 1}">
            <div class="alert alert-success" role="alert">
              Pengajuan telah disetujui
            </div>
          </a>
          <a th:if="${is_rejected == 1}">
            <div class="alert alert-success" role="alert">
              Pengajuan telah ditolak
            </div>
          </a>
          <table class="table table-bordered table-striped" id="dd">
            <thead align="center">
              <tr>
                <th><a>No.</a></th>
                <th><a>ID</a></th>
                <th><a>Mata Kuliah</a></th>
                <th><a>Username Mahasiswa</a></th>
                <th><a>Status Pengajuan</a></th>
                <th><a>Action</a></th>
              </tr>
            </thead>
            <tbody align="center">
              <tr th:each="pengajuan,iterationStatus: ${data_pengajuan}" th:class="${iterationStatus.odd} ? 'odd'">
                <td><p th:text="${iterationStatus.count}">No. 1</p></td>
                <td><p th:text="${pengajuan.id}">pengajuan ID</p></td>
                <td><p th:text="${pengajuan.namaMatkul}">pengajuan ID lowongan</p></td>
                <td><p th:text="${pengajuan.username_mahasiswa}">pengajuan Username Mahasiswa</p></td>
                <td>
                  <div th:switch="${pengajuan.is_accepted}">
                    <p th:case="'2'"><button type="button" class="btn btn-warning" name="action">Pending</button></p>
                    <p th:case="'1'"><button type="button" class="btn btn-success" name="action">Disetujui</button></p>
                    <p th:case="'0'"><button type="button" class="btn btn-danger" name="action">Ditolak</button></p>
                  </div>
                  <!-- <p th:text="${pengajuan.is_accepted}">pengajuan Status</p> -->
                </td>


                <td><a th:href="'/pengajuan/view/' + ${pengajuan.id}">
                    <button type="button" class="btn btn-danger" name="action">Detail</button></a> </td>

              </tr>
            </tbody>
          </table>
        </div>

        <div th:replace="shared/footer :: footer"></div>
  </body>
</html>
